/* Font Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #8a1010;
  }

  img.lazyload {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  
  img.lazyloaded {
    opacity: 1;
  }

  :root {
    --background-color: #f0f9ff;
    --text-color: black;
  }
  
  .dark-mode {
    --background-color: #020617;
    --text-color: white;
  }
  
  .gay-mode {
    --background-color: #FF1493;
    --text-color: rgb(0, 0, 0); /* You can adjust this to a color that has the most contrast with pink */
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
    
  /* Spacing */
  body {
    margin: 0;
    padding: 0;
    /* background-color: #F0FFFF;	*/;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Typography */
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--text-color);
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  p {
    margin: 10px 0;
  }
  
  /* Buttons */
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .button:hover {
    background-color: var(--secondary-color);
  }
  
  /* Utility Classes */
  .flex {
    display: flex;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  .margin-bottom {
    margin-bottom: 20px;
  }
  
  .padding {
    padding: 10px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-shadow {
    text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
  }
  